/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
  General styles
  ========================================================================== */


  * {
  box-sizing: border-box;
}

body {
  font-family: 'Lekton', sans-serif;
  font-size: 1em;
  background: #fffdfa;
  color: #28282B;
}

.content-wrapper {
  width: 90%;
  margin: 5em 0 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #28282B;
  font-size: 2em;
}

a.button {
  background-color: #6762a6;
  border: none;
  color:#fffdfa;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color:#c9c3e6;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  margin-top:20px;
}

a.button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.guess,
.play-again{
border: 1px solid;
box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
text-shadow: 1px 1px 2px #427388;
}

h1{
  font-size: 1.5em;
  font-family: 'Lexend Tera', sans-serif;
}
h2{
  font-family: 'Lexend Tera', sans-serif;
  width: 90%;
  text-align: center;
}
/* h3{
  margin: 1;
} */
p{
  margin:0;
}

img {
  width: 100%;
}

/* .project-img{
  border-radius: 50%;
} */
/* ========== NAV BAR MOBILE STYLING =========== */
.navbar {
  display: flex;
  padding: 8px 12px;
  background: #fffdfa;
  color: #28282B;
  flex-direction: column;
  margin-top:15px;
}

/* Logo with text */
.navbar__logo {
  font-size: 24px;
  margin: 0 25px;
}

/* .navbar__logo i {
  background: #E9B14C;
} */

/* Menu */
.navbar__menu {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu a {
  /* Fill in an entire line so that user can click on any space */
  display: block;
}


.navbar__icons {
  list-style: none;
  color: RGB(168, 213, 203);
  display: none;
  justify-content: center;
  padding-left: 0;
}


/* Icons */
.navbar__icons li {
  padding: 8px 12px;
  border-radius: 50%;
  margin: 0 10px;
}

/* Toggle button */
.navbar__toggleBtn {
  display: block;
  position: absolute;
  right: .5em;
  font-size: 2.5em;
}

/* When toggle button is clicked - active state */
.navbar__menu.active,
.navbar__icons.active {
  display: flex;
}

/* Hero Area Styling */
#hero-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-area .content-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 10em;
}

.hero__content__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}
#hero-area figure{
  display: inline-block;
  margin:0 0 0 1.5em;
  width: 90%;
}
.hero__icon__container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.hero__icons{
  display: flex;
  list-style: none;
  color: RGB(168, 213, 203);
  justify-content: center;
  padding-left: 0;
}

.hero__icons li{
  padding: 8px 5px;
  border-radius: 50%;
  margin: 0 10px;

}
#hero-area p{
  text-align: center;
}

#skill__area .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}


.skill__block{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #6762a6;
  color: #fffdfa;
  width: 80%;
  margin: 1.875em 0 1.125em 0;
  padding: 0.25em 0.5em
  /* padding: 0.25em 0.5em;
  min-width: 15ch;
  min-height: 2.75em;
  */
}

.skill__block p{
  text-transform: uppercase;
  font-size: 1.5em;
}
/* ======== About Area =========== */
#about__area{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;

}
#about__area .content-wrapper{
  padding: 2em;
  flex-direction: column;
  
}



#about__area article{
  width: 100%;
}

#about__area p {
  margin-bottom: 1em;
}


/* ======== Project Area =========== */
  #project__area {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    text-align: center;
  
  }

  
  #project__area article {
    margin-bottom: 2.5em 1em 2.5em 1em;
  }
  
  #project__area h2 {
    margin-bottom: 1.5em;
  }
  
  #project__area h3 {
    margin: 0.3125em;
  }
  


/*========CONTACT SECTION========*/

#contact__area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  background: #c9c3e6;

}

#contact__area h3 {
  font-size: 1.875em;
}
#contact__area h4 {
  margin: 0.625em;
  font-size: 1.25em;
}
#contact__area a{
  color:#333333 ;
  font-size: 1.25em;
  text-transform: none;
}
#contact_info .content-wrapper {
  margin: 6.25em 0.9375em;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 3.125em;
}
.social__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.875em;
  width: 60%;
}

.social__icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background: #ec7e96;
  width: 2.5em;
  height: 2.5em;
  box-shadow: 5px 5px 37px -8px rgba(0, 0, 0, 0.44);
  transition-duration: 0.1s;
  cursor: pointer;
}

.social__icons p i {
  font-size: 1.9em;
  color: #fff;
  padding-top: 0.15em;
}

/*========FOOTER SECTION========*/
footer {
  display: flex;
  justify-content: center;

}


/*========PLAY PAGE========*/


#guess__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 150px 0;
  font-size: 20px;
  line-height: 150%;
  background-image: url("../img/bg.png");
  background-size: 800px;
  background-repeat: repeat;
  color: #305050;
}

.logo {
  width: 70%;
  max-width: 484px;
}

.game-h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Unlock", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}

.game__container {
  background: radial-gradient(50% 50% at 50% 50%,
    rgba(167, 237, 237, 0.3) 0%,
    rgba(156, 226, 226, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  background: #d4f2f2;
  font-size: 1em;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: #28bdbd;
  font-size: 30px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 3px solid #28bdbd;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #28bdbd;
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: #fff;
  background: #6762a6;
  font-size: 1em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: brightness(0.3);
  color: white;
}

/* animatied background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #d4f2f2, #28bdbd);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.sc-kudos{
  text-align: center;
  margin: 1%;
  font-size: .75rem;

}

.project__skills{
  font-weight: lighter;
  font-size: 12px;
  margin: 15px;
  }

.skills-span{
  text-transform: uppercase;
  font-weight: 900;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
    Media Queries for Responsive Design
   ========================================================================== */

/*********** Tablet Styling **************/

@media only screen and (min-width: 768px) {
  /*===== General Styling===== */
  a {
    font-size: 1.5em;
  }

  h2{
    margin: 3em 0 0 0;
  }
  p {
    font-size: 2vmin;
  }
  /*===== Nav Styling===== */
  .navbar__toggleBtn {
    right: 1.25em;
    font-size: 2.5em;
  }
  /*===== Hero-Area Styling===== */
  #hero-area .content-wrapper{
    flex-direction: row;
  }
  #hero-area figure{
    display: inline-block;
    width: 40%;
  }
  .hero__content__container{
    width: 50%;
    margin:0;

  }
  /*===== Skill Area Styling===== */
  .skill__block{
    width: 33%;
    margin: 1em 1em 1em 1em;
  }

  #skill__area .content-wrapper{
    flex-direction: row;
  }

  /*======= About Area Styling======== */
  #about__area article {
  width: 70%;
  }

    
  /*=========FEATURED PROJECT SECTION=========*/
  #project__area article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  #project__area article figure {
    width: 49%;
  }
  #project__area img {
    width: 80%;
  }

  #project__area article div {
    width: 39%;
    padding: 1em;
  }

  #project__areah3 {
    margin: 0;
    font-size: 1.25em;
  }
  #project__area h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }

    
  /*=======CONTACT SECTION=========*/

  #contact__area .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 2.5em;
  }

  #contact__area figure {
    display: flex;
    justify-content: center;
    width: 35%;
  }

  #contact_info {
    margin: 0;
  }
}

/* Desktop Styling */
@media only screen and (min-width: 1200px) {
  /* ========General Styling======== */
p {
  font-size: 1.125em;
}
  /* ========Nav Styling ======== */

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  flex-flow: row nowrap;
}

/* Nav Logo with text */
.navbar__logo {
  font-size: 24px;
  color: RGBA(168, 213, 203);
}

.navbar__logo i {
  color: RGBA(168, 213, 203);
}

/* Nav Menu */
.navbar__menu {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  flex-direction: row;
  width: 30%;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__icons {
  list-style: none;
  color: RGB(168, 213, 203);
  display: flex;
  padding-left: 0;
  font-size: 1.5em;
}

/* Nav Icons */
.navbar__icons li {
  padding: 8px 12px;
}

/* Nav Toggle button */
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

.hero__icons li{
font-size: 24px;
}
  
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

